
* {
	margin: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
	font-family:'Open Sans Condensed', sans-serif;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.div-center-Text {
	text-align: center;
}

.div-centered {
	margin: 0 auto;
}

.custom-input {
	border: none;
	border-bottom: 1px solid black;
	width: 280px;
	outline: none;
	font-size: 20px;
	font-family:'Open Sans Condensed', sans-serif;
}

.index-button {
	border: none; 
	cursor: pointer; 
	font-size: 30px;
}

.custom-button {
	color: black;
	border: 1px solid black;
	background-color: white;
	cursor: pointer;
	outline: none;
	width: 80px;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 15px;
	
}

	.custom-button:HOVER {
		background-color: black;
		color:white;

	}
	

	
.header {
	border-bottom: 1px solid  #fff;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: left;
	font-size: 20px;
	color: #fff;
	background-color: #000;
}

/******* CREATE *********/

.border-guerriero {
	border-color: #992D15;
	border-width: 5px;
	border-style: solid;
}

.border-mago {
	border-color: #74B6E5;
	border-width: 5px;
	border-style: solid;
}

.border-ladro {
	border-color: #E5CE42;
	border-width: 5px;
	border-style: solid;
}

.color-guerriero {
	color: #992D15;
}

.color-mago {
	color: #74B6E5;
}

.color-ladro {
	color: #E5CE42;
}

.class-container {	
	float:left; 
	height: 93px; 
	width: 180px; 
	background-color: #fff;
	cursor: pointer;
	border: none;
}


.class-icon {
	float:left;
	padding: 3px; 
	margin-right: 5px;
	background-color: #fff;
}

.class-name {
	float: left; 
	font-weight: bold; 
	letter-spacing: 3px; 
	width: 68%;	
	font-size: 25px;
}

.class-attribute {	
	font-size: 23px; 
	float:left; 
	width: 100%;
}

	
	
/******** FOOTER *********/	

.wrapper {
	height: 100%;
	min-height: 100%;
	/*height: auto !important;*/
	margin: 0 auto -33px;
}
.footer {
	height: 26px;
	background-color: white;
	border-top: 1px dashed black;
	width: 100%;
	margin: 0 auto;
	padding-top: 6px;
	font-size: 13px;
	clear: both;
	color: white;
	background-color: black;
}

.push {
	height: 1px;
}
/******** FINE FOOTER *********/


/******** DIALOG ********/
.ui-dialog {
	/*overflow: hidden;
	position: center;*/
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
	background-color: white;
	border: 1px solid black;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
} 

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 15%;
	margin: 5px;
	padding: 3px;
	font-weight: bold;
	
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}

.ui-button {
	color: black;
	border: 1px solid black;
	background-color: white;
	cursor: pointer;
	outline: none;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 15px;
	
	-webkit-transition: color .4s, background-color .4s;
    -moz-transition: color .4s,background-color .4s;
    transition: color .4s, background-color .4s;
}

	.ui-button:HOVER {
		background-color: black;
		color:white;
		
		-webkit-transition: color .4s, background-color .4s;
	    -moz-transition: color .4s,background-color .4s;
	    transition: color .4s, background-color .4s;
	}
/******** FINE DIALOG ********/