* {
	margin: 0;
}

html, body {
	background-color: #000;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.autoMargin {
	margin: 0 auto;
}

.customInput {
	background-color: #000;
	border: none;
	border-bottom: 1px  #fff;
	color: #fff;
	outline: none;
	font-family: 'Orbitron', sans-serif;
}

.customButton {
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	cursor: pointer;
	outline: none;
}

	.customButton:hover {
		background-color: #fff;
		color: #000;
	}
	
.customButtonSmall {
	font-family: 'Muli', sans-serif;
	border: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
	
.fontCorsivo {
	font-style: italic;
}
	
/******** PROLOGO *********/

.divPrologo {
	width: 650px; 
	margin-top: 10px; 
	margin-bottom: 50px; 
	text-align:center; 
	font-size: 14px; 
	font-family: 'Muli', sans-serif;
}
	
/******** FOOTER *********/	

.wrapper {
	height: 100%;
	min-height: 100%;
	/*height: auto !important;*/
	margin: 0 auto -74px;
}
.footer {
	border: 1px  white;
	height: -5px;
	background-color: #000;
	width: 100%;
	margin: 0 auto;
	font-size: 13px;
	clear: both;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}

.push {
	height: 1px;
}
/******** FINE FOOTER *********/